.button {
  background-color: #E5E5EB;
  border: 4px solid #5468B1;
  border-radius: 10px;
  color: #5468B1;
  cursor: pointer;
  display: inline-flex;
  height: 2rem;
  padding: 8px 1rem;
  transition-duration: .4s;
  transition-timing-function: ease-out;
  vertical-align: middle;
}

.button:hover {
  /* box-shadow: 0 .5px 1px #000; */
  border: 4px solid white;
  box-shadow: inset 0 0 20px #1CA512, 0 0 20px #1CA512;
}

/* .button:hover .favorite-button-icon {
  filter: invert(100%);
} */

.button:hover .button-label {
  /* color: white; */
}

.favorite-button-icon {
  height: 2rem;
}

.button-label {
  margin: 0 5px;
}