body {
  background-color: #E5E5EA;
  height: 200vh;
}

.App {
  text-align: center;
}

.button-container {
  border-top: 8px solid #01226A;
  border-bottom: 8px solid #5468B1;
  background-color: #E5E5EA;
  display: inline-flex;
  justify-content: space-around;
  margin: auto;
  padding: 2rem 0;
  width: 100%;
}