.intro-container {
  background-color: black;
  height: 100vh;
  width: 100%;
}

.title-container {
  background-color: black;
  box-shadow: 0 2rem 2rem black;
  position: relative;
  z-index: 2;
}

.sw-logo {
  color: #FFFF82;
  font-size: 6rem;
  font-family: 'Star Jedi Hollow';
  font-weight: 200;
  line-height: 5rem;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: middle;
  z-index: 2;
}

.sw-logo-film {
  /* background-color: green; */
  font-size: 1.8rem;
  font-family: 'Futura Medium' sans-serif;
  font-weight: 400;
  letter-spacing: 8px;
  line-height: 2rem;
  color: #fcfcfc;
  margin: 1rem 0 0 0;
  position: relative;
  text-transform: uppercase;
  z-index: 2;
}

.intro-screen {
  background-color: black;
  height: 100%;
  width: 100%;
}

.intro-container p,
.intro-container div {
  color: #FFFF82;
  margin: auto;
}

#subtitle {
  font-size: 5rem;
  margin-bottom: 2rem;
}

#title {
  font-size: 3rem;
}

.crawl-head,
.crawl-text {
  color: #FFFF82;
  margin: auto;
}

#board {
  /* background-color: green; */
  bottom: 6rem;
  font-family: Century Gothic, sans-serif;
  font-size: 350%;
  font-weight: bold;
  height: 150rem;
  left: calc(50% - 30rem);
  overflow: hidden;
  position: absolute;
  text-align: justify;
  transform: perspective(300px) rotateX(25deg);
  transform-origin: 50% 100%;
  width: 60rem;
}

#board::after {
  bottom: 60%;
  position: absolute;
  top: 0;
}

#content {
  animation: scroll 100s linear 0s;
  margin: auto;
  position: absolute;
  top: 70%;
}

#title, #subtitle {
  text-align: center;
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}

.intro-logo {
  background-color: black;
  box-shadow: 0 2rem 1rem black;
  left: 0;
  position: absolute;
  padding: 0 35%;
  top: 2.5rem;
  width: 30%;
  z-index: 2;
}

.intro-arrow {
  background-color: transparent;
  border: none;
  bottom: 1rem;
  cursor: pointer;
  display: inline;
  left: calc(50% - 2rem);
  outline: none;
  position: absolute;
}

.rebellion-button {
  height: 4rem;
}

.intro-arrow:hover .rebellion-button {
  filter: invert(50%);
  transition-duration: .4s;
}


.star {
  background-color: white;
  height: 8px;
  position: absolute;
  width: 8px;
}